{% load static %}




<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}">
        
    </head>
    <body>           
        <header>
            <div class="headerContent">
               
                <div class="headerTitleContainer">
                    <img src="{% static 'myapp/assets/vtasklogoF.png' %}" height="140px" width="150px" alt="">&nbsp;
                    <h1>:New Tasks</h1>
                </div>

                <form action="{% url 'search' %}" method="POST" id="searchForm">
                    {% csrf_token %}
                    <label for="taskname">Search</label>
                    <input type="text" name="taskname" id="taskname" placeholder="Search tasks by name..." required>
                            
                    <input type="submit">

                </form>
                
                <div class="userContainer">
                    <p style="color:red;font-weight:bold;">{{ request.user.username }}</p>&nbsp;
                    <img src="{% static 'myapp/assets/avatar_icon.png' %}" height="20px" width="20px" alt="">&nbsp;
                    <a href="{% url 'logout_view' %}" style="color:red;"><button class="logoutBtn" style="border:1px solid black;border-radius:10px;">logout</button></a>
                </div>
            </div>

        </header>
        <main>
            <div class="contentWrapper">
                <a href="{% url 'home' %}">Back to Home</a>
                
                <form action="{% url 'create_task' %}" method="POST" class="functionalityForms">
                    <h3 style="font-weight:bold;">TASK CREATION FORM</h3>
                    {% csrf_token %}
                
                    <label for="taskName">Enter Task Name:</label>
                    <input type="text" name="taskName" id="taskName" placeholder="Enter task name ..." required>
                
                    <label for="taskDescription">Enter Task Description (what you want to achieve for that task):</label>
                    <textarea name="taskDescription" id="taskDescription" cols="50" rows="10" placeholder="Enter task details..." required></textarea>
                
                    <label for="taskCategory">Task Category:</label><br>
                    <input type="text" name="taskCategory" id="taskCategoryName" placeholder="Enter category name ..." required>
                
                    <label for="taskScheduledFor">Scheduled Date:</label>
                    <input type="date" name="taskScheduledFor" id="taskScheduledFor" required>
                
                    <input type="submit" value="Add Task">
                </form>
                

                
            </div>
          

        </main>



        <!-- FOOTER-->
        <footer>
            <div class="footerContent">
                <p><i>For any help or queries contact us via:</i></p>
                <div class="contacts">                               
                    <button class="contactsItem"><img src="{% static 'myapp/assets/phone.png' %}" height="20px" width="20px" alt="">&nbsp;+254745657493</button>
                    <button class="contactsItem"><img src="{% static 'myapp/assets/email.webp' %}" height="20px" width="20px" alt="">&nbsp;kemuntoviolet7@gmail.com</button>

                </div>
                <hr style="width:100%;border:1px solid #e8e8e8;">
                <div id="copyright">
                    <p><i>&#169;2024 Vtasks. All rights reserved.</i></p>
                </div>
            </div>


        </footer>

    
    </body>
</html>
